@import "reset.css" screen;

@font-face {
   font-family: MilioRegular;
   src: url('../font/MilioRegular.otf');
}

@font-face {
   font-family: MilioLight;
   src: url('../font/MilioLight.otf');
}

@font-face {
   font-family: MilioBold;
   src: url('../font/MilioBold.otf');
}

body{
   font-family: MilioRegular;
   color: #000000;
   background: #f3f1e7;
}

.w100 {
   width: 100%;
   position: relative;
   overflow: hidden;
}

.back-100{
   background-size: cover;
   background-position: 50% 50%;
}

.back-contain{
}

.maxw{
   max-width: 1440px;
   margin: 0 auto;
   position: relative;
}


.slider{
   height: 802px;
   width: 802px;
   margin: 0 auto;
}

.w480 .slider{
   height: 460px;
   width: 460px;
}

.slide{
   background: url('../img/sl1.png') no-repeat scroll 50% 50%;

   height: 100%;
   width: 100%;
   background-size: contain;
   text-align: center;
}

.slide:hover{
   background: url('../img/sl1-hover.png') no-repeat scroll 50% 50%;
   background-size: contain;
}

.logo{
   display: inline-block;
   background: url('../img/logo.png') no-repeat 0 100%;
   width: 95px;
   height:  315px;
}

.w480 .logo{
   height: 135px;
}


.text{
   width: 422px;
   margin: 40px auto 0;
   font-size: 16px;
   line-height: 29px;
}

.w480 .text{
   width: 370px;
   margin: 40px auto 0;
   font-size: 14px;
   line-height: 24px;
}

.social{
   position: absolute;
   right: 50px;
   top: 60px;
}

.social-var  img{
   margin-left: 6px;


   -webkit-transition: opacity 0.5s, transform 0.5s;
   -moz-transition: opacity 0.5s, transform 0.5s;
   -o-transition: opacity 0.5s, transform 0.5s;
   transition: opacity 0.5s, transform 0.5s;

   position: relative;
}

.social-var  img:hover{
   opacity: 0.7;

   transform: scale(1.1,1.1);
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);


   -webkit-transition: opacity 0.5s, transform 0.5s;
   -moz-transition: opacity 0.5s, transform 0.5s;
   -o-transition: opacity 0.5s, transform 0.5s;
   transition: opacity 0.5s, transform 0.5s;
}


.menu{
   position: absolute;
   background: url('../img/menu.png') no-repeat;
   width: 36px;
   height: 26px;
   cursor: pointer;
   left: 50px;
   top: 54px;
}

.inner-menu{
   background: #ffffff;
   border: 2px solid #cb8f00;
   z-index: 1;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   -o-border-radius: 4px;
   
   margin: -2px;
   
   position: absolute;
   left: 0;
}

.gold-menu .inner-menu{
   right: auto;
   left: 0;
}

.one-menu{
   max-width: 200px;
   line-height: 24px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   width: auto;
   padding: 4px;
   
}

.inner-menu{
   display: none;
}

.one-menu:hover{
   background: rgba(49,57,134,0.05);
}

.switch{
   padding-right: 30px;
   border-bottom: 1px solid #ffffff;
   padding-bottom: 6px;
   position: absolute;
   left: 70px;
   bottom: 92px;
}

.one-el{
   width: 8px;
   height: 8px;
   border-radius: 7px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;

   border: 2px solid #ffffff;
   display: inline-block;
   margin-right: 2px;
   cursor: pointer;
}

.one-el:hover, .one-el.active{
   background: #ffffff;
}


.adr{
   color: #ffffff;
   font-size: 16px;
   line-height: 20px;
   text-align: right;
   border-top: 1px solid #cb8f00;
   padding-top: 10px;
   position: absolute;
   right: 50px;
   bottom: 45px;
   font-family: MilioLight;
}

.w480 .adr{
   display: none;
}

.slider2{
   height: 721px;
   position: relative;
}

.slider2 .maxw{
   height: 100%;
}

.gold-menu{
   background: url('../img/mune-gold.png') no-repeat;
   height: 26px;
   width: 36px;
   cursor: pointer;
   position: absolute;
   left: 75px;
   top: 60px;
}

.w1024 .gold-menu{
   left: 20px;
}

.w480 .gold-menu{
   left: 10px;
}


.head{
   padding-bottom: 0;
   position: fixed;
   width: 100%;
   z-index: 30;
   background: rgba(243, 241, 231, 0.9);
   box-shadow: 0 0 30px 20px rgba(243, 241, 231, 0.9);
   left: 0;
}

.head + .content{
   top: 265px;
   margin-bottom: 265px;
}

.right-social{
   position: absolute;
   top: 50px;
   right: 50px;
   text-align: right;
   font-size: 16px;
   line-height: 20px;
   color: #bb8e00;
   font-family: MilioLight;
   max-width: 30%;
}

.w1024 .right-social{
   right: 20px;
}

.w480 .right-social{
   right: 5px;
   display: none;
}

.logo-inner{
   margin: 0 auto;
   width: 95px;
   padding-top: 35px;
}

.content{
   padding: 0 45px 0 150px;
   position: relative;
   overflow: hidden;
}

.w1024 .content{
   padding: 0 30px;
}

.w480 .content{
   padding: 0 10px;
}

.gold-bold{
   color: #bb8e00;
   font-size: 18px;
   font-family: MilioBold;
   margin-bottom: 40px;
   text-transform: uppercase;
}

.w480 .gold-bold{
   font-size: 16px;
   margin-bottom: 30px;
}

.right-social .hr{
   border-bottom: 1px solid #bb8e00;
   margin: 25px 0 10px 0;
}

.col1{
   padding-right: 648px;
   min-height: 573px;
   position: relative;
}

.w1024 .col1{
   padding-right: 0;
   min-height: 0;
}

.w480 .col1{
   padding-right: 0;
   min-height: 0;
}

.col1.autoh{
   min-height: 0;
}

.sep100{
   height: 100px;
}

.col2{
   width: 573px;
   position: absolute;
   top: 0;
   right: 15px;

}

.w1024 .col2{
   position: relative;
   width: 100%;

}

.w480 .col2{
   position: relative;
   width: 100%;
   right: 3px;
}

.blue-title{
   font-size: 30px;
   line-height: 36px;
   font-family: MilioBold;
   color: #123283;
   margin-bottom: 40px;
}

.w480 .blue-title{
   font-size: 26px;
   line-height: 30px;
   margin-bottom: 30px;
}

.col-text p{
   font-size: 17px;
   line-height: 26px;
   color: #000000;
   margin-bottom: 25px;
}

.r-slide{
   background-position: 50% 50%;
   background-repeat: no-repeat;
   width: 573px;
   height: 573px;

   -webkit-transition: background 1s, transform 1s;
   -moz-transition: background 1s, transform 1s;
   -o-transition: background 1s, transform 1s;
   transition: background 1s, transform 1s;
}

.w480 .r-slide{
   width: 460px;
   height: 460px;
   background-size: contain;
}

.one-sl:hover > img{
   transform: scale(1.2,1.2);
   -webkit-transform: scale(1.2,1.2);
   -moz-transform: scale(1.2,1.2);
   -o-transform: scale(1.2,1.2);

   transform-origin: 50% 100%;

   -webkit-transition: background 1s, transform 1s;
   -moz-transition: background 1s, transform 1s;
   -o-transition: background 1s, transform 1s;
   transition: background 1s, transform 1s;
}

.one-sl > img{

   transform-origin: 50% 100%;

   -webkit-transition: background 1s, transform 1s;
   -moz-transition: background 1s, transform 1s;
   -o-transition: background 1s, transform 1s;
   transition: background 1s, transform 1s;
}

.map{
   width: 615px;
   height: 413px;
   margin: 30px 0 0 30px;
}

.r-slide.map{
   background-position: 0 0;
}

.w480 .col2 .map{
   transform: scale(0.8, 0.8);
   -webkit-transform: scale(0.8, 0.8);
   -moz-transform: scale(0.8, 0.8);
   -o-transform: scale(0.8, 0.8);
   transform-origin: 0 0;
   width: 150%;
   height: 413px;
}

.w480 .col2.map{
   margin-bottom: -105px;
}

.border-romb{
   background: url('../img/border-gold.png') no-repeat scroll 50% 50%;
   background-size: contain;
   width: 100%;
   height: 100%;

   -webkit-transition: background 1s, transform 2s;
   -moz-transition: background 1s, transform 2s;
   -o-transition: background 1s, transform 2s;
   transition: background 1s, transform 2s;
}

.r-slide.switchgo .border-romb{
   transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   -o-transform: rotate(360deg);

   -webkit-transition: background 1s, transform 2s;
   -moz-transition: background 1s, transform 2s;
   -o-transition: background 1s, transform 2s;
   transition: background 1s, transform 2s;
}

.text-slide{
   text-align: center;
   display: table-cell;
   vertical-align: middle;
   height: 573px;
   width: 573px;
   -webkit-transition: background 1s, transform 2s;
   -moz-transition: background 1s, transform 2s;
   -o-transition: background 1s, transform 2s;
   transition: background 1s, transform 2s;
}

.w480 .text-slide{
   width: 460px;
   height: 460px;
}

.r-slide.switchgo .text-slide{
   transform: rotate(-360deg);
   -webkit-transform: rotate(-360deg);
   -moz-transform: rotate(-360deg);
   -o-transform: rotate(-360deg);

   -webkit-transition: background 1s, transform 2s;
   -moz-transition: background 1s, transform 2s;
   -o-transition: background 1s, transform 2s;
   transition: background 1s, transform 2s;
}

.title-romb{
   margin: 0 auto;
   font-size: 35px;
   line-height: 70px;
   color: #ffffff;
}

.light-romb{
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: #ffffff;
}

.r-slider{
   position: relative;
}

.r-slider .switch, .carusel .switch{
   right: 0;
   bottom: 105px;
   left: auto;
   border-bottom: 1px solid #bb8e00;
   padding: 0 0 6px 30px;
}

.carusel .switch{
   z-index: 100;
   bottom: -20px;
   display: none;
}

.r-slider .one-el, .carusel .one-el{
   display: inline-block;
   border-color: #bb8e00;
}

.r-slider .one-el:hover, .r-slider .one-el.active, .carusel .one-el:hover, .carusel .one-el.active{
   background: #bb8e00;
}

.big-title{
   color: #bb8e00;
   font-size: 30px;
   text-transform: uppercase;
   line-height: 130px;
   margin: 0 auto;
   text-align: center;
}

.content2{
   padding: 0 45px 0 75px;
}

.content4{
   padding: 0 75px 0 75px;
}

.w1024 .content4{
   padding: 0 20px;
}

.w480 .content4{
   padding: 0 10px;
}

.w1024 .content2{
   padding: 0 20px;
}

.w480 .content2{
   padding: 0 10px;
}

.w1024 .content3{
   padding: 0 20px 0;
}

.w480 .content3{
   padding: 0 10px 0;
}

.one-sw{
   padding: 0 16px;
   height: 69px;
   line-height: 69px;
   font-size: 18px;
   color: #123283;
   background: #f3f1e7;
   display: inline-block;
   margin: 0 20px;
   cursor: pointer;
}

.w480 .one-sw{
   padding: 0;
   margin: 0 4px;
}

.one-sw.active{
   background: #f3f1e7 url('../img/mini-border.png') no-repeat scroll 50% 50%;
   font-family: MilioBold;
}

.top-switch{
   text-align: center;
   margin-bottom: 50px;
   position: relative;
}


.line-back{
   height: 1px;
   position: absolute;
   width: 100%;
   z-index: -1;
   background: #bb8e00;
   top: 34px;
}

.sliders{
   height: 565px;
   position: relative;
}

.content4 > .sliders {
   margin-bottom: 100px;
}

.sliders.hauto{
   height: auto;
}

.gorizontal-slider{
   height: 565px;
   position: absolute;
   width: 100%;
   top: 0;
   transform: translateY(-565px);
   -webkit-transform: translateY(-565px);
   -moz-transform: translateY(-565px);
   -o-transform: translateY(-565px);

   -webkit-transition: transform 1s;
   -moz-transition: transform 1s;
   -o-transition: transform 1s;
   transition: transform 1s;
}

.gorizontal-slider.active{
   transform: translateY(0);
   -webkit-transform: translateY(0);
   -moz-transform: translateY(0);
   -o-transform: translateY(0);

   -webkit-transition: transform 1s;
   -moz-transition: transform 1s;
   -o-transition: transform 1s;
   transition: transform 1s;
}

.overflow{
   overflow: hidden;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   height: 565px;
   margin-right: -45px;
}

.text-in{
   background: url('../img/border-sq.png') no-repeat scroll 50% 50%;
   height: 441px;
   width: 440px;
   position: absolute;
   top: 0;
   left: 0;
   display: none;
}

.h590{
   height: 590px;
   margin-top: 70px;
   padding-top: 60px;
   box-sizing: border-box;
}

.title-list{
   padding-top: 70px;
   font-family: MilioBold;
   color: #123283;
   font-size: 30px;
   margin-bottom: 25px;
}

.list{
   background: url('../img/list-bg.png') no-repeat;
   width: 443px;
   height: 463px;
   box-sizing: border-box;
   padding-left: 60px;
   padding-right: 55px;
}

.tc{
   padding-left: 55px;
   height: 441px;
   display: table-cell;
   vertical-align: middle;
   font-size: 16px;
   color: #ffffff;
   line-height: 26px;
}

.tc b{
   font-size: 22px;
   font-family: MilioBold;
}

.one-sl{
   position: relative;
   width: 440px;
   margin-right: 28px;
   display: inline-block;
   vertical-align: top;
   overflow: hidden;
   cursor: pointer;
}

.one-sl:hover .text-in{
   display: block;
}

.after-slide{
   font-size: 17px;
   line-height: 26px;
   color: #000000;
   margin-top: 18px;
   position: relative;
   overflow: hidden;
}

.short{
   -webkit-transition: margin 1s;
   -moz-transition: margin 1s;
   -o-transition: margin 1s;
   transition: margin 1s;
   height: 54px;
}

.long{
   opacity: 0;
   -webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
   -o-transition: opacity 1s;
   transition: opacity 1s;
   margin-top: -26px;
   background: #f3f1e7;
   position: relative;
   z-index: 2;
}




.one-sl:hover .long{
   opacity: 1;
}

.one-sl:hover .short{
   margin-top: -28px;
}

.after-slide b{
   font-size: 22px;
}

.all-slides{
   display: inline-block;
   width: 10000px;


   -webkit-transition: margin 1s;
   -moz-transition: margin 1s;
   -o-transition: margin 1s;
   transition: margin 1s;
}

.arrow{
   right: 0;
   position: absolute;
   top: 445px;
   height: 110px;
   background: #f3f1e7;
   left: 936px;
   box-shadow: 0 0 5px #f3f1e7;
   z-index: 4;
}

.s-a{
   right: 50px;
   top: 30px;
   position: absolute;
}

.arr-left, .arr-right{
   cursor: pointer;
}

.arr-left:hover, .arr-right:hover{
   opacity: 0.7;
}

.arr2{
   position: absolute;
   right: 40px;
   bottom: 35px;
   display: none;
}

.double-vis:hover .arr2{
   display: block;
}

.double-vis .arr2 img{
   width: auto;
}


.has-hover:hover > img{
   transform: scale(1.2,1.2);
   -webkit-transform: scale(1.2,1.2);
   -moz-transform: scale(1.2,1.2);
   -o-transform: scale(1.2,1.2);



   -webkit-transition: transform 0.5s;
   -moz-transition: transform 0.5s;
   -o-transition: transform 0.5s;
   transition: transform 0.5s;
}

.has-hover > img{

   -webkit-transition: transform 0.5s;
   -moz-transition: transform 0.5s;
   -o-transition: transform 0.5s;
   transition: transform 0.5s;

}

.arr-right{
   margin-left: 10px;
}

.back-mer{
   height: 721px;
   padding-top: 100px;
}

.promo + .back-mer {
   padding-top: 0;
   margin-top: 100px;
}

.promo > .maxw {
   position: static;
}

.mer-romb{
   background: url('../img/mer-romb.png') no-repeat scroll 50% 100%;
   background-size: contain;
   width: 571px;
   max-width: 90%;
   height: 646px;
   margin: 0 auto;
   text-align: center;
   padding-top: 197px;
   box-sizing: border-box;
}

.w480 .mer-romb{
   padding-top: 72px;
   background-position: 50% -54px;
   background-size: 120%;
   max-width: 100%;
}

.romb-title{
   font-size: 35px;
   color: #bb8e00;
   margin-top: 10px;
   margin-bottom: 30px;
}


input[type="text"]{
   width: 280px;
   height: 36px;
   border: none;
   line-height: 36px;
   font-family: MilioLight;
   color: #b8b8b8;
   font-size: 16px;
   margin-bottom: 8px;
   text-align: center;
}

input[type="text"].with-val{
   color: #000000;
}

.button{
   background: #313986;
   width: 198px;
   height: 47px;
   line-height: 47px;
   border-radius: 3px;
   cursor: pointer;
   color: #f2f2ee;
   font-size: 18px;
   display: inline-block;

   text-align: center;
   -webkit-transition: background 1s;
   -moz-transition: background 1s;
   -o-transition: background 1s;
   transition: background 1s;
}


.button:hover{
   background: #bb8e00;
   -webkit-transition: background 1s;
   -moz-transition: background 1s;
   -o-transition: background 1s;
   transition: background 1s;
}

.button > span{
   opacity: 0.71;
}

.text-on-mer{
   width: 290px;
   border-top: 1px solid #bb8e00;
   padding-top: 15px;
   font-size: 18px;
   line-height: 25px;
   color: #ffffff;
   position: absolute;
   bottom: 45px;
   left: 75px;
}

.w480 .text-on-mer{
   left: 10px;
   bottom: 0;
}

.foot{

}

.col{
   width: 33%;
   display: inline-block;
   min-height: 100%;
   box-sizing: border-box;
   text-align: center;
   padding-top: 175px;
   padding-bottom: 175px;
   vertical-align: top;
   font-size: 14px;
   line-height: 21px;
   position: relative;
}

a{
   text-decoration: none;
   color: inherit;
}

a:hover{
   color: #bb8e00;
}

.right a:hover{
   color: #bb8e00;
}

.col + .col{
   background: #f9f9f9;
}

.col + .col + .col{
   float: right;
   background: #f3f1e7;
}

.title-col{
   font-size: 16px;
   color: #000000;
   font-family: MilioLight;
   text-transform: uppercase;
   margin-bottom: 40px;
}

.copyright{
   width: 33%;
   position: absolute;
   bottom: 18px;
   font-family: MilioLight;
   opacity: 0.3;
   text-align: center;
}

.w480 .copyright{
   width: 80%;
   text-align: left;
   left: 10px;
   position: relative;
   bottom: auto;
}

.foot-menu a{
   opacity: 0.67;
   margin-bottom: 15px;
   font-family: MilioLight;
   display: inline-block;
}

.foot-menu a:hover{
   opacity: 1;
}


.w480 .foot-menu a{
   opacity: 1;
   font-size: 14px;
}

.tw{
   background: url('../img/tw-gray.png') no-repeat;
   width: 16px;
   height: 13px;
   display: inline-block;
}

.tw:hover{
   background: url('../img/tw-gold.png') no-repeat;
}

.fb{
   background: url('../img/fb-gray.png') no-repeat;
   width: 8px;
   height: 16px;
   display: inline-block;
}

.fb:hover{
   background: url('../img/fb-gold.png') no-repeat;
}

.vk{
   background: url('../img/vk-gray.png') no-repeat;
   width: 16px;
   height: 13px;
   display: inline-block;
}

.vk:hover{
   background: url('../img/vk-gold.png') no-repeat;
}

.auth{
   text-transform: uppercase;
   position: absolute;
   opacity: 0.59;
   font-size: 11px;
   color: #b9b9b9;
   bottom: 100px;
   transform: rotate(-90deg);
   -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);

   right: -54px;
}

.w480 .auth{
   left: 10px;
   right: auto;
   bottom: auto;
   position: relative;
   display: inline-block;
   transform: none;
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
}

.line{
   line-height:29px;
   font-size: 17px;
   border-bottom: 1px solid #cac9c3;
}

.line .count{
   float: right;
   margin-right: 5px;
}

.content3{
   margin: 0 auto 100px;
   padding: 40px 150px 0;
   vertical-align: top;
}

.double-vis{
   background-position: 50% 50%;
   background-size: cover;
   margin-bottom: 26px;
   position: relative;
   width: 100%;
   overflow: hidden;
}

.double-vis .button{
   display: none;
}

.double-vis:hover .button{
   display: inline-block;
}


.newimg{
   position: absolute;

   -webkit-transition: margin 1s;
   -moz-transition: margin 1s;
   -o-transition: margin 1s;
   transition: margin 1s;
   top: 0;
   left: 0;
}

.fromleft{
   margin-left: -100%;
}

.fromright{
   margin-left: 200%;
}

.text-in-double{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #ffffff url('../img/bg.png') repeat-x scroll 0 100%;
   padding: 60px 67px;
   overflow: hidden;
   box-sizing: border-box;
   font-size: 17px;
   line-height: 26px;
   border: 4px solid #bb8e00;
   display: none;
}

.text-in-double:after{
   background: url('../img/bg.png') repeat-x;
   height: 60px;
   width: 100%;
   content: " ";
   position: absolute;
   bottom: 0;
}

.text-in-double.active{
   display: block;
}

.text-in-double p{
   margin-bottom: 10px;
}

.double-vis img{
   width: 100%;
}


.ml{
   margin-left: 22px;
}

.h484{
   height: 484px;
}

.d-column{
   width: 50%;
   float: left;
   box-sizing: border-box;
}

.d-column{
   padding-right: 11px;
}



.d-column + .d-column{
   padding-left: 11px;
   padding-right: 0;
}

.w480 .d-column{
   width: 100%;
   padding: 0 !important;

}

.w480 .double-vis{
   height: 470px;
   overflow: hidden;
}

.w480 .double-vis > img{
   min-height: 100%;
   width: auto;
   min-width: 100%;
}

.w480 .double-vis .arr2{
   display: none;
}

.clear{
   clear: both;
}

.double-text{
   width: 390px;
   border-top: 2px solid #bb8e00;
   margin-top: 20px;
   padding-top: 20px;
   line-height: 26px;
   font-size: 17px;
   position: absolute;
   bottom: 26px;
}


.w480 .double-text{
   position: relative;
   margin-top: 50px;
}

.double-text span{
   opacity: 0.65;
}

.col-3{
   width: 33%;
   display: inline-block;
   vertical-align: top;
}

.w1024 .col-3{
   width: 45%;
}

.w1024 .col-3+.col-3+.col-3{
   display: block;
   margin: 0 auto;
}

.w480 .col-3{
   width: 100%;
   margin-bottom: 30px;
}

.title-col-3{
   font-family: MilioBold;
   font-size: 22px;
   color: #123283;
   margin-bottom: 20px;
}

li{
   padding-left: 18px;
   margin-bottom: 10px;
   font-size: 17px;
   position: relative;
   line-height: 18px;
}

li span{
   color: #5f5f5f;
   font-size: 15px;

}

li:before{
   content: " ";
   position: absolute;
   left: 0;
   top: 6px;
   width:5px;
   height: 5px;
   border-radius: 3px;
   border: 1px solid #123283;
}

.gold-download{
   padding-right: 30px;
   color: #bb8e00;
   font-family: MilioBold;
   font-size: 19px;
   padding-bottom: 8px;
   border-bottom: 1px solid #bb8e00;
   display: inline-block;
   cursor: pointer;
}

.pdf-download{
   padding-left: 37px;
   background: url('../img/pdf.png') no-repeat scroll 0 4px;
   font-size: 13px;
   font-family: MilioLight;
   color: #636262;
   line-height: 15px;
   margin-top: 11px;
   cursor: pointer;
}

.h622{
   height: 622px;
   margin-top: 40px;
}

.h622 .maxw, .h622 .content{
   height: 100%;
}


.down-but{
   position: absolute;
   bottom: 40px;
}

.w480 .down-but{
   position: relative;
   padding-top: 30px;
}

.for-scroll{
   height: 100%;
   padding-right: 25px;
   box-sizing: border-box;
}

.foot-vis{
   position: absolute;
   bottom: 32px;
   left: 40px;
}

.w480 .foot .col{
   width: 100%;
   padding: 20px 0;
}

.w480 .foot .col + .col + .col{
   float: none;
}

.w480 .foot .col + .col + .col br{
   display: none;
}

.w480 .foot .col + .col + .col a{
   margin: 0 7px;
}

.title-foot-vis{
   color: #ffffff;
   font-size: 25px;
   line-height: 29px;
   font-family: MilioBold;
}

.title-foot-vis + .button{
   margin-top: 12px;
}

.rose{
   background: url('../img/rose.png') no-repeat;
   width: 378px;
   height: 168px;
   margin: -26px auto -120px;
}

.button a:hover{
   color: #ffffff;
}

.title-only-click{
   color: #123283;
   font-size: 30px;
   margin: 30px 0 30px;
   font-family: MilioBold;
   margin-top: -130px;
}

.only-click{
   padding-top: 190px;
   padding-bottom: 0;
}

.close-but{
   position: absolute;
   background: url('../img/close-but.png') no-repeat;
   width: 18px;
   height: 19px;
   cursor: pointer;
   right: 67px;
   top: 40px;
}

.point{
   width: 32px;
   height: 32px;
   border: 3px solid #bb8e00;
   box-sizing: border-box;
   border-radius: 16px;
   background: #ffffff;
   position: absolute;
   padding: 5.5px;
}

.point-inner{
   width: 15px;
   height: 15px;
   background: #bb8e00;
   border-radius: 8px;

}

.more{
   background: url('../img/more.png') no-repeat;
   position: absolute;
   width: 131px;
   height: 76px;
   color: #242424;
   font-size: 16px;
   line-height: 17px;
   display: none;
   left: 12px;
   top: -60px;
   box-sizing: border-box;
   padding: 0 10px;
   z-index: 2;
}

.more .c{
   display: table-cell;
   vertical-align: middle;
   width: 131px;
   height: 76px;
   text-align: center;
}

.area:hover .point-inner{
   width: 8px;
   height: 8px;
   border-radius: 4px;
}

.area:hover .point{
   padding: 9px;
}

.area:hover .more{
   display: block;
}

.area{
   position: absolute;
   background: none !important;
}

.area1{

   width: 214px;
   height: 134px;
   top: -21px;
   left: 112px;
}

.area1 .point{
   left: 155px;
   top: 53px;
}

.area1:hover{
   background: url('../img/area1.png') no-repeat;
}


.area2{

   width: 179px;
   height: 143px;

   top: 116px;
   left: 427px;
}

.area2 .point{
   left: 113px;
   top: 52px;
}

.area2:hover{
   background: url('../img/area2.png') no-repeat;
}

.area3{
   width: 120px;
   height: 82px;
   top: 61px;
   left: 155px;
}

.area3 .point{
   left: 47px;
   top: 30px;
}

.area3:hover{
   background: url('../img/area3.png') no-repeat;
}

.area4{

   width: 80px;
   height: 179px;

   top: 207px;
   left: 294px;
}

.area4 .point{
   left: 19px;
   top: 102px;
}

.area4:hover{
   background: url('../img/area4.png') no-repeat;
}

.area5{

   width: 85px;
   height: 171px;

   top: 202px;
   left: 150px;
}

.area5 .point{
   left: 32px;
   top: 12px;
}

.area5:hover{
   background: url('../img/area5.png') no-repeat;
}

.area6{

   width: 178px;
   height: 193px;

   top: 140px;
   left: 352px;

}

.area6 .point{
   left: 97px;
   top: 71px;
}

.area6:hover{
   background: url('../img/area6.png') no-repeat;
}

.area7{

   width: 147px;
   height: 117px;

   top: 124px;
   left: 57px;
}

.area7 .point{
   left: 86px;
   top: 44px;
}

.area7:hover{
   background: url('../img/area7.png') no-repeat;
}

.area8{

   width: 138px;
   height: 118px;

   left: 389px;
   top: 40px;
}

.area8 .point{
   left: 81px;
   top: 60px;
}

.area8:hover{
   background: url('../img/area8.png') no-repeat;
}

.area9{

   width: 118px;
   height: 114px;

   left: 448px;
   top: 407px;
}

.area9 .point{
   left: 67px;
   top: 58px;
}

.area9:hover{
   background: url('../img/area9.png') no-repeat;
}

.rights{
   margin: 70px 115px 50px;
   box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
   background: #ffffff;
   padding: 27px;
}

.w480 .rights{
   margin: 10px;
   padding: 5px;
}

.w480 .border-rights{
   padding: 20px 10px;
}

.border-rights{
   border: 1px solid #bb8e00;
   padding: 50px 105px 85px;
}

.num{
   font-size: 30px;
   text-align: center;
   color: #123283;
   margin-bottom: 10px;
}

.right{
   font-size: 16px;
   line-height: 22px;
   margin-bottom: 20px;
}

.right a{
   font-family: MilioBold;
   color: #123283;
   text-decoration: underline;
   white-space: nowrap;
}

.right b{
   font-family: MilioBold;
   color: #123283;
}

.right img{
   vertical-align: middle;
}

.right br{
   line-height: 8px;
}

.rights p{
   margin-bottom: 10px;
}

.line-right{
   margin: 50px 0;
   height: 1px;
   background: #bb8e00;
}

.navigate{
   position: absolute;
   right: 10px;
   top: 200px;
   overflow: hidden;
   width: 83px;
   border: #f3f1e7;
   padding: 9px;
   background: #ffffff;
   box-sizing: border-box;
   z-index: 3;
}

.w480 .navigate{
   display: none;
}

.zoom{
   transform: scale(0.1,0.1);
   transform-origin: 0 0;
}

.sel{
   width: 100%;
   height: 10vh;
   background: #123283;
   opacity: 0.18;
   position: absolute;
   top: 0;
   left: 0;
}

.card-line{
   font-size: 17px;
   line-height: 26px;
   height: 100px;
   padding-left: 50px;
   background-repeat: no-repeat;
}

.card-title{
   font-size: 25px;
   color: #123283;
   font-family: MilioBold;
   margin-bottom: 18px;
   margin-top: 15px;
}

.in-card{
   color: #123283;
   font-size: 20px;
   margin-top: 28px;
   margin-bottom: 15px;
}

.card-column{
   padding-bottom: 140px;
   padding-right: 80px;
}

.w480 .card-column{
   margin-top: 20px;
}

.w480 .card-column + .card-column{
   margin-top: 45px;
}

.card-column > img {
   -webkit-transition: height 0.5s, transform 0.5s;
   -moz-transition: height 0.5s, transform 0.5s;
   -o-transition: height 0.5s, transform 0.5s;
   transition: height 0.5s, transform 0.5s;
}

.card-column >img:hover{
   transform: translateY(-10px);
   -webkit-transform: translateY(-10px);
   -moz-transform:  translateY(-10px);
   -o-transform: translateY(-10px);
}

.foot-card{
   position: absolute;
   bottom: 0;
}

.w480 .foot-card{
   position: relative;
   margin-bottom: 20px;
}

.has-padding .d-column{
   padding-left: 36px;
   white-space: nowrap;
   font-size: 16px;
}

.has-padding .d-column span{
   font-size: 14px;
}

.border-bot{
   border-bottom: 1px solid #bb8e00;
   padding-bottom: 4px;
   font-size: 19px;
}

.card-column ul{
   padding-left: 18px;
}

.snoska{
   display: inline-block;
   border-top:2px solid #bb8e00;
   margin-top: 100px;
   padding-top: 14px;
   margin-bottom: 50px;
}

.w480 .snoska{
   margin-top: 20px;
}

.snoska > span{
   opacity: 0.69;
}

.menu-slider{
   height:0;
   overflow: hidden;
   /*transform: translateX(-100%);*/
   position: relative;

   -webkit-transition: height 0.5s, transform 0.5s;
   -moz-transition: height 0.5s, transform 0.5s;
   -o-transition: height 0.5s, transform 0.5s;
   transition: height 0.5s, transform 0.5s;
}

.menu-slider:not(.active){
   height:0 !important;
}

.menu-slider.active{
   height: auto;



   -webkit-transition: height 0.5s, transform 0.5s;
   -moz-transition: height 0.5s, transform 0.5s;
   -o-transition: height 0.5s, transform 0.5s;
   transition: height 0.5s, transform 0.5s;
}

.one-img{
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transition: transform 1s;
   -moz-transition: transform 1s;
   -o-transition: transform 1s;
   transition: transform 1s;
}

.one-img:after{
   content: " ";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(255,255,255,0.5);
}

.one-img.active:after{
   background: none;
}

.one-img.active{
   z-index: 50;
}

.one-img.before{
   transform: scale(0.9,0.9) translateX(-300px);
   -webkit-transform: scale(0.9,0.9) translateX(-300px);
   -moz-transform: scale(0.9,0.9) translateX(-300px);
   -o-transform: scale(0.9,0.9) translateX(-300px);
}

.rose-sl{
   background: url('../img/rose-sl.png') no-repeat;
   width: 311px;
   height: 380px;
   margin: -260px auto 0;
}

.menu-slider .overflow{
   height: auto;
   position: relative;
   padding-bottom: 70px;
   margin-right: 0;
}


.one-img.after{
   transform: scale(0.9,0.9) translateX(300px);
   -webkit-transform: scale(0.9,0.9) translateX(300px);
   -moz-transform: scale(0.9,0.9) translateX(300px);
   -o-transform: scale(0.9,0.9) translateX(300px);
}
.carusel{
   position: relative;
}
.carusel:after{
   content: " ";
   position: absolute;
   width: 400px;
   height: 400px;
   z-index: 51;
   left: 50%;
   top: 50%;
   margin: -200px 0 0 -200px;
   border: 7px solid #cb8f00;
}

.title-page{
   font-size: 27px;
   text-align: center;
   color: #123283;
   margin-bottom: 45px;
}

.title-e{
   font-size: 17px;
   line-height: 26px;
   text-align: center;
}

.price-e{
   color: #838383;
   font-size: 15px;
   text-align: center;
   margin-bottom: 15px;
}

.long-arr-left{
   position: absolute;
   background: url('../img/long-arr-left.png') no-repeat scroll 0 50%;
   padding-left: 50px;
   color: #cb8f00;
   font-size: 17px;
   text-transform: uppercase;
   top: 50%;
   left: 0;
   margin-top: -12px;
   cursor: pointer;
   z-index: 10;
}

.w480 .long-arr-left{
   top: 15px;
}

.carusel .long-arr-left{
   z-index: 110;
}

.long-arr-left:hover{
   opacity: 0.7;
}

.long-arr-right{
   position: absolute;
   background: url('../img/long-arr-right.png') no-repeat scroll 100% 50%;
   padding-right: 50px;
   color: #cb8f00;
   font-size: 17px;
   text-transform: uppercase;
   top: 50%;
   right: 0;
   margin-top: -12px;
   cursor: pointer;
   z-index: 10;
}
.w480 .long-arr-right{
   top: 15px;
}

.long-arr-right:hover{
    opacity: 0.7;
}

.carusel .long-arr-right{
   z-index: 110;
}

.one-page{
   position: absolute;
   width: 100%;
   left:0;
   top:0;

   opacity: 0;

   -webkit-transition: transform 1s, opacity 1s;
   -moz-transition: transform 1s, opacity 1s;
   -o-transition: transform 1s, opacity 1s;
   transition: transform 1s, opacity 1s;
}

.one-page.active{
   opacity: 1;
   transform: translateX(0);
   -webkit-transform: translateX(0);
   -moz-transform: translateX(0);
   -o-transform: translateX(0);
}

.one-page.before{
   transform: translateX(-100%);
   -webkit-transform: translateX(-100%);
   -moz-transform: translateX(-100%);
   -o-transform: translateX(-100%);
}

.one-page.after{
   transform: translateX(100%);
   -webkit-transform: translateX(100%);
   -moz-transform: translateX(100%);
   -o-transform: translateX(100%);
}

.message{
   background: #f3f1e7;
   z-index: 1000;
   padding: 50px 70px;
   box-shadow: 0 0 2000px 1000px rgba(0,0,0,0.8);
   position: fixed;
   top: 50%;
   left: 50%;
   margin-left: -150px;
   margin-top: -60px;
   text-align: center;

   -webkit-transition: transform 1s, opacity 1s;
   -moz-transition: transform 1s, opacity 1s;
   -o-transition: transform 1s, opacity 1s;
   transition: transform 1s, opacity 1s;
}


.message.disable{
   opacity: 0;
}


.mar90{
   margin: 0 90px;
   height: 721px;
   box-sizing: border-box;
   overflow: hidden;
   position: relative;
}

.w480 .mar90{
   margin: 0 10px;
}


.mar90:before{
   background: url('../img/sq.png') no-repeat scroll 50% 50%;
   position: absolute;
   content: " ";
   width: 100%;
   height: 100%;
   z-index: 0;
   left: 0;
   top: 0;
   -webkit-transition: transform 1s, opacity 1s;
   -moz-transition: transform 1s, opacity 1s;
   -o-transition: transform 1s, opacity 1s;
   transition: transform 1s, opacity 1s;
   transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
}

.w480 .mar90:before{
   background-size: contain;
}

.mar90:hover:before{
   transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
}


.romb-style .mar90:before{
   background: url('../img/main-romb.png') no-repeat scroll 50% 50%;
}

.title-block{
   background: url('../img/h.png') no-repeat;

   padding-left: 65px;
   color: #ffffff;
   margin: 265px 0 0 130px;
   display: inline-block;
   position: relative;
}

.w480 .title-block{
   margin: 10px 0 0 0;
}

.big{
   font-size: 35px;
   margin-bottom: 10px;
   line-height: 50px;
}

.small{
   font-size: 21px;
   line-height: 28px;
}

.w480 .small{
   font-size: 18px;
   line-height: 24px;
}

.right-romb{
   background: url('../img/right-romb.png') no-repeat;
   height: 519px;
   width: 519px;
   position: absolute;
   background-size: contain;
   right: 90px;
   top: 50%;
   text-align: center;
   margin-top: -260px;
   box-sizing: border-box;
   vertical-align: top;
   padding-top: 190px;
}

.w480 .right-romb{
   right: auto;
   width: 460px;
   height: 460px;
   left: 50%;
   top: 131px;
   margin-left: -230px;
   margin-top: 0;
}

.romb-style .right-romb{
   background: url('../img/club-bg.png') no-repeat scroll 50% 50%;
}
.text-can{
   font-size: 14px;
   color: #373737;
   opacity: 0.71;
}

.img-can{
   opacity: 0.31;
   line-height: 60px;
   vertical-align: bottom;
   margin-bottom: 5px;
}

.img-can img{
   vertical-align: bottom;
}

.one-can{
   display: inline-block;
   width: 99px;
   line-height: 17px;
   margin: 0 15px;
   vertical-align: top;
}

.romb-style .one-can{
   width: 130px;
}


.mar90 .button{
   position: absolute;
   top: 50%;
   margin-top: 180px;
   left: 50%;
   margin-left: -99px;
}

.w480 .mar90 .button{
   margin-top: 200px;
}


.romb-full .r-slider{
   left: 50%;
   display: inline-block;
   margin-left: -287px;
   top: 50%;
   margin-top: -287px;
}

.w480 .romb-full .r-slider{
   margin-top: -230px;
   margin-left: -230px;
}

.romb-full .r-slider:before{
   position: absolute;
   content: " ";
   background: url('../img/sl3-bg.png') no-repeat;
   width: 327px;
   height: 400px;
   bottom: -100px;
   left: -150px;
   z-index: -1;
}

.promo.slider2.back-100 .maxw {
   display: table;
}

.promo.slider2.back-100 .mar90 {
   display: table-row;
}

.promo.slider2.back-100 .title-block {
   display: table-cell;
   vertical-align: middle;
   background: none;
   position: relative;
}

.promo.slider2.back-100 .title-block:before {
   content: '';
   background: url('../img/h.png') no-repeat;
   width: 50px;
   height: 50px;
   position: absolute;
   left: 0;
}

.promo.slider2.back-100 .right-romb {
   display: table-cell;
   vertical-align: middle;
   position: relative;
   padding-top: 0;
   background-position: center;
   top: auto;
   right: auto;
}

@media (min-width: 992px) {
   .index .gold-menu {
      position: fixed;
      z-index: 1;
   }
}

@media (max-width: 479px) {
   .head {
      position: static;
      margin-bottom: 25px;
   }

   .head + .content {
      top: 25px;
      margin-bottom: 0;
   }

   .list{
      max-width: 443px;
      width: auto !important;
      border-right: 2px solid #cb8f00;
      border-left: 2px solid #cb8f00;
      background-position: bottom center;
      padding-left: 30px;
      padding-right: 25px;
   }

   .r-slide {
      width: auto !important;
      max-width: 460px;
      margin: -45px 0;
   }

   .text-slide {
      max-width: 573px;
   }

   .romb-full .text-slide {
      padding: 0 120px;
      height: 420px;
   }

   .romb-full .text-slide br + br {
      display: none;
   }

   .r-slider .light-romb {
      padding: 0 75px;
   }

   .promo .r-slider .light-romb {
      padding: 0;
   }

   .copyright {
      width: 100% !important;
   }

   .text-in-double {
      padding: 10px;
   }

   .double-vis {
      height: auto !important;
      margin-bottom: 10px;
   }

   .double-vis > img {
      min-height: 0 !important;
      width: 100% !important;
      height: inherit;
   }

   .double-vis.scroll-text .for-scroll {
      top: 0;
      position: absolute;
   }

   .double-vis.scroll-text .close-but {
      top: 2px;
      right: 17px;
      z-index: 1;
   }

   .double-vis.scroll-text {
      height: 350px !important;
   }

   .double-vis.scroll-text > img {
      width: auto !important;
      height: 100% !important;
      min-height: 350px !important;
   }

   .content3 .d-column:first-child .double-vis.scroll-text > img {
      width: 100% !important;
      height: auto !important;
      min-height: 0 !important;
   }

   .back-mer {
      margin-top: 0;
   }

   .mer-romb {
      background-size: 160% !important;
      background-position: top center !important;
   }

   .border-bot {
      padding-top: 20px;
   }

   .in-card {
      margin-bottom: 0;
   }

   .snoska {
      margin-bottom: 0;
   }

   .title-col {
      margin-bottom: 10px;
   }

   .col-3:first-child .card-line:first-child {
      margin-top: 30px !important;
   }

   .card-line:nth-child(2) {
      height: 70px !important;
   }

   .big-title {
      line-height: normal;
   }

   .long-arr-left,
   .long-arr-right {
      font-size: 14px;
      margin-top: 20px;
      color: transparent;
   }

   .long-arr-left {
      padding-left: 40px;
   }

   .long-arr-right {
      padding-right: 40px;
   }

   .title-foot-vis {
      font-size: 18px;
   }

   .content {
      position: static;
   }

   .rose {
      width: 100%;
      max-width: 378px;
      background-position: bottom center;
   }

   .area1,
   .area2,
   .area3,
   .area4,
   .area5,
   .area6,
   .area7,
   .area8,
   .area9,
   .area10{
      width: auto !important;
      height: auto !important;
      background: rgba(255,0,0,0.3) !important;
   }

   .area1 {
      top: -20%;
      left: -7%;
   }

   .area2 {
      top: 2%;
      left: 44%;
   }

   .area3 {
      top: 1%;
      left: 9%;
   }

   .area4 {
      top: 10%;
      left: 37%;
   }

   .area5 {
      top: 44%;
      left: 13%;
   }

   .area6 {
      top: 17%;
      left: 33%;
   }

   .area7 {
      top: 18%;
      left: -12%;
   }

   .area8 {
      top: -8%;
      left: 37%;
   }

   .map {
      height: 300px;
   }

   .slider {
      width: 100% !important;
   }

   .w480 .logo {
      padding-top: 55px;
   }

   .slider .text {
      width: 87% !important;
      margin-top: 7px;
   }

   .slider .slide {
      background-size: cover !important;
   }

   .one-can {
      margin: 0 -5px !important;
   }

   .switch {
      left:  15px;
      bottom: 77px;
      display: none;
   }

   .mar90:before {
      background: none !important;
   }

   .big {
      font-size: 30px;
      line-height: 34px;
   }

   .text-on-mer {
      bottom: 10px !important;
   }

   .arrow {
      left: auto;
      width: 132px;
   }

   .double-text {
      width: 100%;
   }

   .promo + .back-mer{
      margin-top: -100px;
   }

   .w480 .col2 .map {
      height: 238px;
      position: relative;
   }

   .promo.slider2.back-100 .maxw {
      display: block;
   }

   .promo.slider2.back-100 .mar90 {
      display: block;
   }

   .promo.slider2.back-100 .title-block {
      display: block;
   }

   .promo.slider2.back-100 .right-romb {
      display: block;
      padding-top: 155px;
   }

   .border-romb img {
      margin-top: -25px;
   }
}